* {
    box-sizing: border-box;

}

body {

    margin: 0;
	padding: 0;
	
}

.container {
    /* ------properties css  style ------*/
    background-color: brown;
    padding: 10px;
    height: 1000px;
    
    /*-------properties flexbox---------*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    

}


.item {
     /* ------properties css  style ------*/
    background-color: cyan;
    border: thick solid cornflowerblue;
    width: 25%;
    margin: 10px;
    

    /*-------properties flexbox---------*/

}